{
	"useTabs": true,
	"semi": false,
	"jsxSingleQuote": true,
	"singleAttributePerLine": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/shared/(.*)$",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	]
}
