@import "tailwindcss";
@import "tw-animate-css";

@theme {
	--color-neutral-100: #ffffff;
	--color-neutral-200: #edeef0;
	--color-neutral-300: #e6e6e6;
	--color-neutral-400: #bebebe;
	--color-neutral-600: #7c7c7c;
	--color-neutral-800: #585858;
	--color-neutral-900: #343434;
	--color-brand-100: #f1ecfb;
	--color-brand-300: #c5b3f0;
	--color-brand-400: #9a79e5;
	--color-brand-500: #8b66e2;
	--color-brand-600: #7d53de;
	--color-brand-700: #6837d9;
	--color-accent-500: #ff9b42;
	--color-accent-600: #ff881e;
	--color-accent-700: #fa7600;
	--color-danger: #ff6464;
	--color-success: #3fd885;

	--text-xs: 0.75rem; /* 12px */
	--text-sm: 0.875rem; /* 14px */
	--text-base: 1rem; /* 16px */
	--text-lg: 1.25rem; /* 20px */
	--text-xl: 1.625rem; /* 26px */
	--text-2xl: 2.375rem; /* 38px */

	--text-sm--line-height: 1.125rem; /* 18px */
	--text-base--line-height: 1.25rem; /* 20px */
	--text-lg--line-height: 1.5rem; /* 24px */
	--text-xl--line-height: 1.875rem; /* 30px */
	--text-2xl--line-height: 2.875rem; /* 46px */

	--leading-sm: 1.125rem; /* 18px */
	--leading-base: 1.25rem; /* 20px */
	--leading-md: 1.375rem; /* 22px */
	--leading-lg: 1.5rem; /* 24px */
	--leading-xl: 1.875rem; /* 30px */
	--leading-2xl: 2.875rem; /* 46px */

	--radius-2xs: 0.3125rem; /* 5px */
	--radius-xs: 0.5rem; /* 8px */
	--radius-sm: 0.6875rem; /* 11px */
	--radius-md: 0.8125rem; /* 13px */
	--radius-lg: 1.25rem; /* 20px */
	--radius-xl: 1.625rem; /* 26px */
	--radius-full: 999px;

	--shadow-*: initial;
	--shadow-base:
		0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.1);
}



@theme inline {
	--color-background: var(--background);

	--color-foreground: var(--foreground);

	--color-card: var(--card);

	--color-card-foreground: var(--card-foreground);

	--color-popover: var(--popover);

	--color-popover-foreground: var(--popover-foreground);

	--color-primary: var(--primary);

	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);

	--color-secondary-foreground: var(--secondary-foreground);

	--color-muted: var(--muted);

	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);

	--color-accent-foreground: var(--accent-foreground);

	--color-destructive: var(--destructive);

	--color-border: var(--border);

	--color-input: var(--input);

	--color-ring: var(--ring);

	--color-chart-1: var(--chart-1);

	--color-chart-2: var(--chart-2);

	--color-chart-3: var(--chart-3);

	--color-chart-4: var(--chart-4);

	--color-chart-5: var(--chart-5);

	--color-sidebar: var(--sidebar);

	--color-sidebar-foreground: var(--sidebar-foreground);

	--color-sidebar-primary: var(--sidebar-primary);

	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

	--color-sidebar-accent: var(--sidebar-accent);

	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

	--color-sidebar-border: var(--sidebar-border);

	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--background: oklch(1 0 0);

	--foreground: oklch(0.145 0 0);

	--card: oklch(1 0 0);

	--card-foreground: oklch(0.145 0 0);

	--popover: oklch(100% 0.00011 271.152);

	--popover-foreground: oklch(32.504% 0.00004 271.152);

	--primary: oklch(0.205 0 0);

	--primary-foreground: oklch(0.985 0 0);

	--secondary: oklch(0.97 0 0);

	--secondary-foreground: oklch(0.205 0 0);

	--muted: oklch(0.97 0 0);

	--muted-foreground: oklch(0.556 0 0);

	--accent: oklch(0.97 0 0);

	--accent-foreground: oklch(0.205 0 0);

	--destructive: oklch(0.577 0.245 27.325);

	--border: oklch(92.494% 0.00011 271.152);

	--input: oklch(0.922 0 0);

	--ring: oklch(0.708 0 0);

	--chart-1: oklch(0.646 0.222 41.116);

	--chart-2: oklch(0.6 0.118 184.704);

	--chart-3: oklch(0.398 0.07 227.392);

	--chart-4: oklch(0.828 0.189 84.429);

	--chart-5: oklch(0.769 0.188 70.08);

	--sidebar: oklch(0.985 0 0);

	--sidebar-foreground: oklch(0.145 0 0);

	--sidebar-primary: oklch(0.205 0 0);

	--sidebar-primary-foreground: oklch(0.985 0 0);

	--sidebar-accent: oklch(0.97 0 0);

	--sidebar-accent-foreground: oklch(0.205 0 0);

	--sidebar-border: oklch(0.922 0 0);

	--sidebar-ring: oklch(0.708 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply h-dvh bg-neutral-100 text-neutral-900;
	}
}
